IndentWidth: 4
ColumnLimit: 120
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
SpaceAfterCStyleCast: true
SpaceInEmptyBlock: true
IndentCaseLabels: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
SpaceBeforeCpp11BracedList: true